
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --azul_oscuro:#0F4C75;
    --azul_medio:#3282B8;
    --celeste:#BBE1FA;
    --color_fondo_1:#EFEFEF;
    --color_fondo_2:#ACC5D5;
    --circulo-naranjo:#F16529;
    --circulo-amarillo:#F7DF1E;
    --circulo-azul:#3399FF;
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    background-color: var(--azul_oscuro);
    height:50px ;
    display: flex;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    -webkit-box-shadow: 0px 12px 66px -20px rgba(51,51,51,1);
    -moz-box-shadow: 0px 12px 66px -20px rgba(51,51,51,1);
    box-shadow: 0px 12px 66px -20px rgba(51,51,51,1);
}
.header__logo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__logo img{
    width: 70%;
    box-shadow: 0px 10px 30px -1px rgba(194,194,194,1);
    border-radius: 0 0 30px 30px ;
    
}
.header__nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-align: center;
}

.header__nav-soy h3{
    padding-top: 8px;
}
.header__nav-option1 h3{
    margin-top: 8px;
}
.header__nav-contacto h3{
    padding-top: 8px;
}
.options{
    width: 250px;
    height: 50px;
    background-color: var(--azul_oscuro);
    color: white;
    cursor: pointer;
    transition: 0.5s linear;
    
}
.options:hover{
    background-color: var(--azul_medio);
}

.haciendo{
    display: none;
    width: 500px;
    height: 50px;
    background-color: var(--azul_oscuro);
    transform: translateY(10px) translateX(-125px);
}
.header__nav-option1:hover .haciendo{
    display: block;
    
}

.opciones2{
    width: 100%;
    height: 100%;
    display: flex;
}
.opciones2 a{
    width: 50%;
    height: 100%;
    display: flex;
    text-decoration: none;
}
.opciones2 .options{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 100%;
    height: auto;
    

}
.container img{
    width: 60%;
    position: relative;
}

.container__quien_soy{
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template:0.8fr 1.2fr / 1fr 1fr;
    grid-template-areas:"titulo imagen_general"
                        "texto imagen_general"  ;
    background-color: var(--color_fondo_1);
    background-image: url('assets/imagenes/fondo1.svg');
    background-size: cover;
    

}
.container__quien_soy_titulo{
    grid-area: titulo;
    display: grid;
    grid-template-rows: 1.6fr 0.4fr;
}
.container__quien_soy_titulo1{
    display: flex;
    align-items: flex-end;
    letter-spacing: 2px;
}
.container__quien_soy_titulo1 h1{
    display: flex;
    font-size: 100px;
    background-color: var(--azul_oscuro);
    color: var(--celeste);
}
.container__quien_soy_titulo1 h2{
    display: flex;
    font-size: 40px;
}
.container__quien_soy_titulo1 p{
    font-size: 80px;
}
.container__quien_soy_titulo2{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2px;
    padding-right: 120px;
}
.container__quien_soy_texto{
    grid-area: texto;
    position: relative;
    display: flex;
}
.container__quien_soy_texto p{
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 25px;
    color: var(--azul_oscuro);

}
.container__quien_soy_texto img{
    width: 120%;
}



.container__quien_soy_imagen_general{
    grid-area: imagen_general;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__quien_soy_imagen_general img{
    animation-name: imagenyo;
    width: 370px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    
}
@keyframes imagenyo{
    0%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px);
    }
}
.circulo{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
}
.circulo1{
    animation-name: circulo1;
    animation-duration: 3.5s;
    background: rgb(247,239,235);
    background: radial-gradient(at top left, rgba(247,239,235,1) 14%, rgba(244,177,148,1) 37%, rgba(241,101,41,1) 85%);


}
.circulo2{
    animation-name: circulo2;
    animation-duration: 3.2s;
    background: rgb(255,255,255);
    background: radial-gradient(at top right, rgba(255,255,255,1) 14%, rgba(110,182,255,1) 37%, rgba(51,153,255,1) 85%);


}
.circulo3{
    animation-name: circulo3;
    animation-duration: 3s;
    background: rgb(255,255,255);
    background: radial-gradient(at top, rgba(255,255,255,1) 0%, rgba(251,238,133,1) 37%, rgba(247,223,30,1) 85%);
}


@keyframes circulo1 {
    0%{
        transform: translate(-250px,-90px);
        z-index: 1;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
    1%{
        transform: translate(-250px,-88px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
        
    }
    2%{
        transform: translate(-250px,-86px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    3%{
        transform: translate(-250px,-84px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    4%{
        transform: translate(-250px,-82px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    5%{
        transform: translate(-250px,-80px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    46%{
        transform: translate(200px,150px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    47%{
        transform: translate(200px,148px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    48%{
        transform: translate(200px,146px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    49%{
        transform: translate(200px,144px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    50%{
        transform: translate(200px,142px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
    }
    51%{
        transform: translate(200px,140px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
    100%{
        transform: translate(-250px,-90px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
}
@keyframes circulo2 {
    0%{
        
        transform: translate(250px,-90px);
        z-index: 1;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
        
    }
    1%{
        transform: translate(250px,-88px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
    }
    2%{
        transform: translate(250px,-86px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    3%{
        transform: translate(250px,-84px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    4%{
        transform: translate(250px,-82px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    5%{
        transform: translate(250px,-80px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    46%{
        transform: translate(-200px,150px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    47%{
        transform: translate(-200px,148px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    48%{
        transform: translate(-200px,146px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    49%{
        transform: translate(-200px,144px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    50%{
        transform: translate(-200px,142px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
    }
    51%{
        transform: translate(-200px,140px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
    100%{
        transform: translate(250px,-90px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
}
@keyframes circulo3 {
    0%{
        
        transform: translate(0,-250px);
        z-index: 1;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
        
    }
    1%{
        transform: translate(0,-248px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
    }
    2%{
        transform: translate(0,-246px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    3%{
        transform: translate(0,-244px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    4%{
        transform: translate(0,-242px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    5%{
        transform: translate(0,-240px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    46%{
        transform: translate(0,240px);
        z-index: 1;
        box-shadow: 0px 25px 30px 0px rgba(138,138,138,1);
    }
    47%{
        transform: translate(0,242px);
        z-index: 1;
        box-shadow: 0px 20px 26px 0px rgba(138,138,138,1);
    }
    48%{
        transform: translate(0,244px);
        z-index: 1;
        box-shadow: 0px 15px 22px 0px rgba(138,138,138,1);
    }
    49%{
        transform: translate(0,246px);
        z-index: 1;
        box-shadow: 0px 10px 18px 0px rgba(138,138,138,1);
    }
    50%{
        transform: translate(0,248px);
        z-index: 1;
        box-shadow: 0px 5px 14px 0px rgba(138,138,138,1);
    }
    51%{
        transform: translate(0,250px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
    100%{
        transform: translate(0,-250px);
        z-index: 0;
        box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);
    }
}



.container__parallax{
    width: 100%;
    height: 50px;
}
.parallax1{
    background-image: url(assets/imagenes/imagen2.2.jpg);
    background-size: cover; 
    display: table;
    background-attachment: fixed;
}
.container__proyectos{
    width: 100%;
    height: 100vh;
    background-color: var(--color_fondo_2);
}
.container__titulo{
    width: 100%;
    height: 100px;
    border-bottom:1.5px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.container__titulo h1{
    font-size:60px ;
    color: var(--azul_oscuro);
}
.wrapper{
    padding: 0 100px;
}
.container__titulo h1::first-letter{
    font-size:90px ;
    color: var(--azul_medio);
}
.parallax2{
    background-image: url(assets/imagenes/yo9.9.jpg);
    background-size: cover; 
    display: table;
    background-attachment: fixed;
}
.container__cursos{
    width: 100%;
    height: auto;
    background-color: var(--color_fondo_1);
}
.container__profesional-cursos{
    width: 100%;
    height: auto; 
    margin-top: 30px;
    display: grid;
    grid-template-rows:120px 250px 400px; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"botones1 botones botones2"
                        "imagen1 texto1 texto1"
                        "texto2 texto2 imagen2";
    grid-gap:20px;
    padding-bottom: 100px;
}
.container__profesional-cursos-boton1{
    grid-area:botones1;
    display: flex;
    justify-content: flex-end;
}
.container__profesional-cursos-boton1 a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}
.container__profesional-cursos-espacio{
    grid-area:botones;
}
.container__profesional-cursos-boton2{
    grid-area:botones2;
}
.container__profesional-cursos-boton2 a{
    text-decoration: none;
}
.boton{
    width: 240px;
    height: 80px;
    background-color: var(--azul_oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
    
}
.boton:hover{
    background-color: var(--azul_medio);
    box-shadow: 0px 0px 10px 0px rgba(138,138,138,1);



}
.container__profesional-cursos-imagen1{
    grid-area:imagen1;
}
.imagen_profesional{
    background-color: var(--azul_oscuro);
}
.container__profesional-cursos-texto1{
    grid-area:texto1;
}
.texto_profesional{
    background-color: var(--azul_medio);
}
.container__profesional-cursos-texto2{
    grid-area:texto2;
}
.container__profesional-cursos-imagen2{
    grid-area:imagen2;
}
footer{
    width: 100%;
    height: 100px;
    background-color: var(--azul_oscuro);
    display: flex;
}
footer .footer__texto{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;
}
footer .footer__social{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}
footer .footer__social a{
    margin-left:20px;
    border-radius: 50px;
}
    
footer .footer__social a img{
    width: 70px;
    border-radius: 50px;
}
